<html>
    <head>
        <title>Free Money</title>
        <link rel="stylesheet" href="Style.css">
    </head>

    <body class="background">
        <section>
            <h1 class="h1">Free Money No Scam - Very Easy</h1>
            <form class="h1" method="POST" action="/post">
                <h2 for="email">Please enter your e-mail</h2>
                <input id="email" type="text" name="email"/>
                <input type="submit">
            </form>
        </section>
    </body>
</html>